// variables
$bgColor: #0D2E99;
$pointColor: #ffc200;
$menuHeight: 36px;

html {
  font-size: 62.5%;
}
body {
  overflow: hidden;
  background-color: $bgColor;
  background: linear-gradient(180deg, rgba(0,51,161,1) 0%, rgba(0,0,0,1) 100%);
}
.wrap {
  z-index: 1;
}
.header {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 12px 0 12px;
  box-sizing: border-box;

  &-text {
    font-size: 10px;
    font-weight: 100;
    line-height: 1.2;
    letter-spacing: 1.2em;
    text-align: center;
    color: #fff;
    mix-blend-mode: difference;
  }
}
.menu {
  z-index: 100;
  position: sticky;
  bottom: 20px;
  padding: 0 10px;
  text-align: center;
  backdrop-filter: blur(5px);
  box-sizing: border-box;

  // 페이지 로드 시 인터랙션
  &.is-show {
    .menu-list::after {opacity: 1;}
    .menu-item {opacity: 1; width:100px;}
  }

  .menu-list {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: $menuHeight;
    padding: 2px;
    border: 1px solid rgba($color: #fff, $alpha: 0.5);
    border-radius: calc($menuHeight / 2);
    background-color: rgba($color: #fff, $alpha: 0.2);
    box-sizing: border-box;
  
    &::after {
      position: absolute;
      top: 3px;
      left: 3px;
      width: 100px;
      max-width: 120px;
      height: calc(100% - 6px);
      border-radius: 20px;
      background-color: $pointColor;
      content: '';
      opacity: 0;
      transition: opacity 0.3s linear 0.3s;
    }
  }
  .menu-item {
    overflow: hidden;
    z-index: 15;
    opacity: 0;
    display: inline-block;
    width: 0;
    height: 100%;
    border-radius: 18px;
    font-size: 14px;
    font-weight: 200;
    line-height: 29px;
    color: #fff;
    cursor: pointer;
    white-space: nowrap;
    box-sizing: border-box;
    transition: all 0.4s cubic-bezier(0.680, -0.350, 0.45, 1.4);

    &:hover .menu-item-txt{
      font-weight: 400;
    }
  
    &.is-active .menu-item-txt{
      font-weight: 400;
      color: #000;
    }
  }
}
.main {
  position: relative;
  perspective: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh);
  padding-bottom: 20px;
}
.section {
  width: 100%;
  box-sizing: border-box;
}
.section-hero {
  height: calc(100vh);

  &-contents {
    // position: relative;
    margin-top: 25vh;
    color: #fff;  
  }
  &-img {
    position: absolute;
    top: 0%;
    right: 10%;
    display: inline-block;
    width: 100px;
    height: 100px;
  }
  &-txt {
    padding: 0 20px;
    font-size: 12rem;
    font-weight: 600;
    line-height: 1.2;
    word-break: keep-all;

    &-slide {
      overflow: hidden;
      height: calc(12rem * 1.2);

      &:hover .slide-list{
        animation-play-state: paused;
      }
      
      .slide-list {
        will-change: transform;
        animation: txtSlide ease-in-out 10s infinite;


      }
      .slide-item {
        display: block;
        white-space: nowrap;
      }
    }
    &-name {
      position: relative;
      display: inline-block;
  
      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 120%;
        height: 90%;
        border: 1px solid rgba(256,256,256,0.7);
        border-radius: 50%;
        transform: translate(-50%,-50%) rotate(-12deg);
        content: '';
      }
    }
  
  }
}
.section-about {
  position: relative;
  height: 200vh;

  &-item {
    position: absolute;
    width: 300px;
    height: 200px;
    border-radius: 12px;
    background-color: red;
  }
  &-item:nth-child(1) {
    top: 0;
    left: 0;
  }
  &-item:nth-child(2) {
    top: 0;
    left: 0;
  }  &-item:nth-child(3) {
    top: 0;
    left: 0;
  }

  .marquee {
    position: absolute;
    top: 30%;
    left: -10%;
    background-color: $pointColor;
    color: #000;
    font-size: 80px;
    font-weight: 600;
    white-space: nowrap;
    transform: rotate(10deg);
    // animation: marquee 10s linear infinite;
  }
}
.footer {
  height: 100dvh;
  background-color: #000;
  color: #fff;
  &-text {

  }
}
.cursor {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 500px;
  height: 500px;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle, rgba($color: $pointColor, $alpha: 0.3) 0%, rgba(0,0,0,0) 60%);

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    content: '';
    transform: translate(-50%,-50%);
  }
}

@keyframes marquee {
  0% { top: 30%; left: -10%; }
  100% { top: -1%; left: -100%; }
}
@keyframes txtSlide {
  0% { transform: translateY(0%); } // 100/12*0%
  25% { transform: translateY(0%); }  // 100/12*3%
  33.3% { transform: translateY(-33.33%); } // 100/12*4%
  58.3% { transform: translateY(-33.33%); } // 100/12*7%
  66.6% { transform: translateY(-66.66%); } // 100/12*8%
  91.7% { transform: translateY(-66.66%); } // 100/12*11%
  100% { transform: translateY(-100%); } // 100/12*12%
}